@charset "UTF-8";

*{
    box-sizing: border-box; 
}

#aboutMe, #myWorks, #contactForm{
padding: 70px 0px 20px 30px;   
}

body{
font:22px Georgia, Serif;
color:black ;
line-height:20px;

}

.container img {
background-size: cover ;
background-position:center ;
width:100%;
height:700px;
}    
.center { 
font: 16px Helvetica, Arial,Sans-Serif;   
color:black;
font-size: 100px;
position: absolute;
padding: 10px 10px 10px 10px ;  
margin-top:-30%;
}


.heading {
font: 16px Helvetica, Arial,Sans-Serif;
list-style-type:none;
margin:0 0 0 0;  
padding:10px 10px 10px 10px; 
width: 100%;
height: 60px;  
font-size: 22px;
position: fixed ;
background-color:rgba(0, 0, 0, 0.8);
display: flex;
justify-content: space-evenly;
text-transform: uppercase;
z-index: 100000;
}

li a {
display:-moz-grid-line;
color: white;
display: flex;
justify-content: space-between;
text-align: center;
padding:8px 10px 10px 10px;
text-decoration: none;  
z-index: 100;
}

li a:hover {
color: red; 
}

.para{
padding: 50px 0px 0px 20px ;
}
.first ,.skills {
padding: 10px 10px 10px 10px;
height: 250px;
}

.parallax {
    background-image: url("images/paralax.jpg");
    height: 300px;
    padding: 10px 10px 10px 10px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section img{
height: 200px;
display: flex;
justify-content: space-evenly;
}
.pic {
display: flex;
justify-content: space-evenly;
height: 250px;
}

.work{

width: 100%;  
height: 300px;
padding: 42px 42px 42px 42px ; 
background: #eee;
text-align: center;
}
section .work .btn {
font: 16px Helvetica, Arial,Sans-Serif;
margin: 0px;
}
section .work .btn a {
display: block;
padding: 17px 7px 7px 7px;
background: url(blueviolet);
font-weight: bold;
text-align: center;
text-transform: uppercase;
text-decoration: none;
}

.parallax2 {
    background-image: url("images/paralax2.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 3px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 20px 20px 20px ;
}


.social .fa {
font-size: 40px;
text-decoration: none;
padding: 10px 10px 30px 20px;
}
.social .fa-facebook, .fa-linkedin, .fa-instagram, .fa-twitter {
color: black;
}            

:root {
    --base: #ffc600;
    --blur: 25px;
  }

  .imagescript img {
    padding: 10px 10px 10px 10px;
    background: var(--base);
    filter: blur(var(--blur)); 
  }

  .hl {
    color: var(--base);
  }

  /*
    misc styles, nothing to do with CSS variables
  */

  .scripting {/* styling the body section*/
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 10;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width:100px;
  }

footer{
font: 16px Helvetica, Arial,Sans-Serif;
width: 100%;  
}


